<!doctype html>
<html>
  <head>
    <title>RC Walk Bot</title>
  </head>
  <body>
    <code>
      <%= weather %>
    </code>

    <p>
    Content from <a href="http://forecast.io/">forecast.io</a>. Code at <a href="https://github.com/icco/zulip-walkbot">icco/zulip-walkbot</a>.
    </p>
  </body>
</html>
