<!doctype html>
<html>
  <head>
    <title>RC Walk Bot</title>
  </head>
  <body>
    <code>
      <%= format_weather(weather) %>
    </code>

    <p>
    Content from <a href="http://forecast.io/">forecast.io</a>. Code at <a href="https://github.com/icco/zulip-walkbot">icco/zulip-walkbot</a>.
    </p>

    <p>
    See all of the weather data for RC's location at <a href="/weather.json">/weather.json</a>
    </p>
  </body>
</html>
